@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:active,
*:focus {
  outline: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media (max-width: 690px) {
    html {
      font-size: 55%; } }
  @media (max-width: 404px) {
    html {
      font-size: 45%; } }

body {
  font-family: "montserrat",sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: #14171b; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  display: grid;
  grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content 100vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 876px) {
    .container {
      grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content min-content min-content min-content min-content; } }
  @media (max-width: 690px) {
    .container {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.btn {
  background-color: #FB8F1D;
  outline: none;
  border-color: transparent;
  border-radius: .8rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 1.5rem 3.5rem; }

.text {
  font-size: 1.6rem;
  line-height: 1.9;
  opacity: .6; }

.mb_sm {
  margin-bottom: 2rem; }

.mb_sm--2 {
  margin-bottom: .7rem; }

.mb_md {
  margin-bottom: 3rem; }

.mb_lr {
  margin-bottom: 4rem; }

.mb_hg {
  margin-bottom: 5rem; }

.mb_hg--2 {
  margin-bottom: 14rem; }

.header {
  grid-column: full-start / full-end;
  position: sticky;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center; }
  @media (max-width: 1100px) {
    .header {
      position: static; } }

.hide:not(:hover) .navigation__items {
  visibility: hidden; }

.nav-scrolled:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s; }

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 7rem;
  margin-right: 7rem;
  transition: all .6s; }
  .logo--red {
    color: #D9083C;
    transition: all .6s; }
  .logo:hover {
    color: #D9083C; }
    .logo:hover .logo--red {
      color: #fff; }
  @media (max-width: 690px) {
    .logo {
      margin-left: 2.1rem; } }

.navigation {
  align-self: stretch;
  display: contents; }
  .navigation__items {
    display: flex;
    align-self: stretch; }
  .navigation__item {
    margin-right: 3rem;
    font-size: 1.1rem;
    letter-spacing: 4px;
    align-self: stretch;
    display: flex; }
  .navigation__link {
    color: #72777e;
    transition: all .4s;
    align-self: stretch;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .2s; }
    .navigation__link::after {
      content: "";
      position: absolute;
      width: 100%;
      height: .2rem;
      background-color: #D9083C;
      bottom: 2rem;
      transform: scale(0);
      transform-origin: left;
      transition: all .8s; }
    .navigation__link:hover::after, .navigation__link:hover {
      color: #D9083C;
      transform: scale(1); }
  @media (max-width: 1100px) {
    .navigation {
      display: none; } }

.cta {
  margin-left: auto;
  margin-right: 7rem;
  border: none;
  background-color: #D9083C;
  padding: 1.5rem 3.5rem;
  color: #fff;
  font: inherit;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all .6s; }
  .cta::before {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    background-color: #fff;
    -webkit-mask-image: url("../../img/chat.svg");
    -webkit-mask-size: cover;
    mask-image: url("../../img/chat.svg");
    mask-size: cover; }
  .cta:hover {
    background-color: black; }
  .cta:focus {
    outline: none; }
  @media (max-width: 1100px) {
    .cta {
      display: none; } }

.hero__content {
  grid-column: col-start 2 / col-end 5;
  align-self: flex-end;
  padding: 3rem 0;
  position: relative; }

.hero__heading {
  color: #D9083C;
  font-size: 20rem;
  margin-left: -1rem;
  line-height: 1;
  position: relative; }
  .hero__heading::before {
    display: block;
    content: "";
    height: 10rem;
    width: 20rem;
    background-image: url("../../img/dots.svg");
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem);
    opacity: .25;
    position: absolute;
    bottom: .14em;
    left: -20rem; }
    @media (max-width: 1100px) {
      .hero__heading::before {
        top: -5rem;
        left: 2rem; } }
  @media (max-width: 690px) {
    .hero__heading {
      font-size: 13rem; } }

.hero__sub {
  color: #fbfbfb;
  font-size: 2.5rem;
  width: 65%;
  font-weight: 500;
  line-height: 1.9;
  margin-left: 10rem;
  position: relative; }
  .hero__sub::before {
    content: "";
    position: absolute;
    width: 8rem;
    height: .1rem;
    background-color: #72777e;
    top: 2.5rem;
    left: -9.9rem;
    opacity: .3; }
  @media (max-width: 690px) {
    .hero__sub {
      width: 75%;
      font-size: 2rem; } }
  @media (max-width: 404px) {
    .hero__sub {
      font-size: 2.6rem; } }

.hero__social {
  display: flex;
  column-gap: 3rem;
  margin-left: 10rem; }

.hero__social-link {
  cursor: pointer; }
  .hero__social-link:focus {
    outline: 0; }

.hero__social-icon {
  font-size: 2rem;
  transition: all .6s; }
  .hero__social-icon:hover {
    color: #D9083C; }
  @media (max-width: 690px) {
    .hero__social-icon {
      font-size: 2.5rem; } }

.hero__img {
  grid-column: col-start 6 / full-end;
  background-image: url("../../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  margin-top: -9rem;
  margin-left: -28.5rem; }
  .hero__img::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .36; }
  @media (max-width: 1200px) {
    .hero__img {
      margin-left: -35.5rem; } }
  @media (max-width: 1033px) {
    .hero__img {
      background-position: 30% 70%; } }
  @media (max-width: 550px) {
    .hero__img {
      background-position: 28% 100%; } }

.port__content {
  grid-column: center-start / col-end 4;
  padding: 34rem 0 3rem; }
  @media (max-width: 1200px) {
    .port__content {
      padding: 30rem 0 3rem; } }
  @media (max-width: 1100px) {
    .port__content {
      padding: 0;
      align-self: center;
      margin-top: 5rem; } }
  @media (max-width: 876px) {
    .port__content {
      grid-column: center-start  / center-end;
      padding: 10rem 0 6rem;
      text-align: center; } }

.port__heading {
  font-size: 2rem;
  color: #D9083C;
  font-weight: 300;
  position: relative;
  margin-bottom: 7rem;
  margin-left: 1.5rem; }
  .port__heading::before {
    content: "01";
    color: #72777e;
    position: absolute;
    top: -13rem;
    left: -2rem;
    font-size: 15rem;
    font-weight: bold;
    z-index: -1;
    opacity: .1; }
    @media (max-width: 876px) {
      .port__heading::before {
        left: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        top: -12rem; } }
  @media (max-width: 876px) {
    .port__heading {
      margin-bottom: 7rem; } }

.port__text {
  font-size: 2.5rem; }

.port__img {
  grid-column: col-start 5 / center-end;
  display: grid;
  padding: 22rem 0 3rem;
  justify-items: center;
  position: relative; }
  .port__img::before {
    content: "";
    display: block;
    width: 28rem;
    height: 17.6rem;
    background-image: url("../../img/dots.svg");
    opacity: .25;
    position: absolute;
    top: 0rem;
    left: 2rem; }
    @media (max-width: 1100px) {
      .port__img::before {
        display: none; } }
  @media (max-width: 1100px) {
    .port__img {
      padding: 14rem 0; } }
  @media (max-width: 876px) {
    .port__img {
      grid-row: 4 / 5;
      grid-column: center-start  / center-end;
      padding: 0; } }

.port__photo {
  width: 100%; }
  @media (max-width: 1200px) {
    .port__photo {
      width: 52.496rem; } }
  @media (max-width: 1100px) {
    .port__photo {
      width: 100%; } }
  @media (max-width: 876px) {
    .port__photo {
      width: 90%; } }

.difference__illu {
  grid-column: center-start / col-end 2;
  display: grid; }
  .difference__illu .illu1 {
    width: 100%;
    margin-top: 6rem;
    align-self: center; }
    @media (max-width: 1200px) {
      .difference__illu .illu1 {
        width: 90%; } }
  @media (max-width: 1033px) {
    .difference__illu {
      display: none; } }

.difference__content {
  grid-column: col-start 3 / center-end;
  padding: 11rem 0;
  padding-bottom: 2rem; }
  @media (max-width: 1100px) {
    .difference__content {
      padding-bottom: 5rem; } }
  @media (max-width: 1033px) {
    .difference__content {
      grid-column: center-start / center-end; } }
  @media (max-width: 1033px) {
    .difference__content .center {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      justify-items: space-between;
      column-gap: 10rem; } }
  @media (max-width: 876px) {
    .difference__content .center {
      display: block;
      text-align: center; } }
  @media (max-width: 1033px) {
    .difference__content {
      padding: 9rem 0; } }
  @media (max-width: 876px) {
    .difference__content {
      padding: 17rem 5rem 5rem; } }
  @media (max-width: 550px) {
    .difference__content {
      padding-right: 0;
      padding-left: 0; } }

.difference__heading {
  font-size: 2rem;
  color: #D9083C;
  font-weight: 300;
  position: relative;
  margin-bottom: 7rem;
  text-align: right;
  margin-right: 4.5rem; }
  .difference__heading::before {
    content: "02";
    color: #72777e;
    position: absolute;
    top: -13rem;
    right: -4rem;
    font-size: 15rem;
    font-weight: bold;
    z-index: -1;
    opacity: .1; }
    @media (max-width: 1033px) {
      .difference__heading::before {
        left: -4rem; } }
    @media (max-width: 876px) {
      .difference__heading::before {
        left: 0;
        top: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        top: -12rem; } }
  @media (max-width: 1033px) {
    .difference__heading {
      margin-left: 2.5rem;
      text-align: left; } }
  @media (max-width: 876px) {
    .difference__heading {
      text-align: center;
      margin-bottom: 10rem; } }

.difference__custom-rom {
  margin-left: 28rem; }
  @media (max-width: 1033px) {
    .difference__custom-rom {
      margin: 0; } }

.difference__port-rom {
  width: 100%;
  position: relative; }
  .difference__port-rom::after {
    content: "- - - - - - V S - - - - - -";
    position: absolute;
    font-size: 3rem;
    top: -4.2rem;
    right: 47.5rem;
    opacity: .2;
    z-index: 100;
    font-weight: bold; }
    @media (max-width: 1033px) {
      .difference__port-rom::after {
        display: none; } }
    @media (max-width: 876px) {
      .difference__port-rom::after {
        display: flex;
        top: 0rem;
        right: 0rem;
        font-size: 2rem;
        margin-top: -3.8rem;
        margin-right: 10rem; } }
  @media (max-width: 1033px) {
    .difference__port-rom {
      width: auto; } }

.heading-2 {
  font-size: 4rem;
  position: relative; }
  .heading-2::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 1rem;
    background-color: #D9083C;
    z-index: 2;
    bottom: 1.3rem;
    opacity: .5; }

.text1 {
  font-size: 2.5em;
  color: white; }

.download {
  grid-column: center-start / center-end;
  padding: 14rem 0;
  padding-bottom: 10rem; }
  .download__head {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 876px) {
      .download__head {
        display: block;
        text-align: center; } }
  .download__heading {
    font-size: 2rem;
    color: #D9083C;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 3.5rem; }
    .download__heading::before {
      content: "03";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -4.5rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .download__heading::before {
          left: 0;
          top: 0;
          right: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .download__heading {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0; } }
  .download .text2 {
    font-size: 3.5rem;
    flex: 0 0 50%;
    margin-top: -11rem;
    font-weight: bold; }
    @media (max-width: 1033px) {
      .download .text2 {
        flex: 0 0 54%; } }
    @media (max-width: 876px) {
      .download .text2 {
        margin-top: 8rem; } }
  @media (max-width: 876px) {
    .download {
      padding: 7rem 0 10rem; } }

.cards {
  display: grid !important;
  margin-top: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 4rem; }
  @media (max-width: 1100px) {
    .cards {
      grid-template-columns: 1fr;
      row-gap: 8rem;
      column-gap: 0; } }
  .cards .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem; }
    .cards .card__photo {
      width: 50%; }
    .cards .card__heading {
      font-size: 2rem; }
    .cards .card__codename {
      font-size: 1.5rem; }
      .cards .card__codename span {
        color: #D9083C;
        margin-left: 1rem; }
    .cards .card__version {
      font-size: 1.5rem; }
      .cards .card__version span {
        margin-left: 1rem; }
    .cards .card .btn {
      width: 100%;
      font-size: 1rem;
      background-color: #D9083C;
      letter-spacing: 2px;
      margin-top: 1rem;
      position: relative;
      border-radius: 1rem;
      transition: all .1s; }
      .cards .card .btn::after {
        position: absolute;
        content: "";
        width: 100%;
        right: 0rem;
        height: .1rem;
        background-color: #D9083C;
        top: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .6s; }
      .cards .card .btn:hover::after {
        transform: scaleX(1); }
      .cards .card .btn::before {
        position: absolute;
        content: "";
        width: 100%;
        right: 0rem;
        height: .1rem;
        background-color: #D9083C;
        bottom: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transform: scaleX(0);
        transform-origin: right;
        transition: all .6s; }
      .cards .card .btn:hover::before {
        transform: scaleX(1); }
      .cards .card .btn:hover {
        background-color: #14171b; }
      .cards .card .btn:focus {
        outline: none; }
    @media (max-width: 1100px) {
      .cards .card {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4rem; }
        .cards .card__photo {
          width: 25rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__photo {
        width: 50%; } }
    @media (max-width: 1100px) {
        .cards .card__heading {
          font-size: 3rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__heading {
        font-size: 2rem; } }
    @media (max-width: 1100px) {
        .cards .card__codename {
          font-size: 2rem; }
          .cards .card__codename span {
            color: #D9083C;
            margin-left: 1.5rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__codename {
        font-size: 1.5rem; } }
    @media (max-width: 1100px) {
        .cards .card__version {
          font-size: 2rem; }
          .cards .card__version span {
            margin-left: 1.5rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__version {
        font-size: 1.5rem; } }
    @media (max-width: 1100px) {
        .cards .card .btn {
          font-size: 1.5rem;
          width: 20rem;
          margin-top: 2rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card .btn {
        width: 100%;
        font-size: 1rem; } }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }
  @media (max-width: 876px) {
    .tabs [class^="tab"] label span,
    .tabs [class*=" tab"] label span {
      display: none; } }

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid #D9083C; }

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #D9083C; }

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs .tab-2 {
  width: 50%;
  margin-top: 5rem; }

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0; }

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%; }

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%; }

.note {
  font-size: 1.2rem;
  text-align: center;
  opacity: .5 !important;
  margin-top: 5rem;
  line-height: 1.9; }

.install {
  grid-column: center-start / center-end;
  padding: 14rem 0;
  padding-bottom: 8rem; }
  .install__heading {
    font-size: 2rem;
    color: #D9083C;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 1.5rem; }
    .install__heading::before {
      content: "04";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -2rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .install__heading::before {
          left: 0;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .install__heading {
        text-align: center;
        margin-bottom: 10rem; } }
  .install__steps {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 4rem; }
  @media (max-width: 876px) {
    .install {
      text-align: center; } }
  .install__step {
    border-radius: 1.1rem;
    position: relative;
    padding: 3rem;
    box-shadow: 2px 2px 4px black; }
    .install__step::before {
      position: absolute;
      content: "";
      width: 100%;
      height: .1rem;
      top: 0;
      right: 0;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem;
      background-color: #D9083C;
      transform: scale(0);
      transform-origin: left;
      transition: all .6s; }
    .install__step::after {
      position: absolute;
      content: "";
      width: .1rem;
      height: 100%;
      left: 0;
      top: 0;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem;
      background-color: #D9083C;
      transform: scale(0);
      transform-origin: top;
      transition: all .6s; }
    .install__step:hover::before {
      transform: scale(1); }
    .install__step:hover::after {
      transform: scale(1); }
    .install__step--head {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column; }
    .install__step--head1 {
      font-size: 7rem;
      opacity: 70%;
      font-weight: bold;
      color: #FB8F1D; }
    .install__step--head2 {
      font-size: 3rem;
      font-weight: bold;
      position: relative; }
      .install__step--head2::before {
        content: "";
        position: absolute;
        width: 4rem;
        height: .4rem;
        background-color: #D9083C;
        bottom: -1rem; }
        @media (max-width: 876px) {
          .install__step--head2::before {
            width: 5%;
            left: 50%;
            transform: translateX(-50%); } }
      @media (max-width: 876px) {
        .install__step--head2 {
          margin-bottom: 2rem; } }
    .install__step--des {
      line-height: 1.9;
      font-size: 2rem;
      opacity: .7; }
      @media (max-width: 876px) {
        .install__step--des {
          margin-bottom: 1.5rem; } }
  .install__note {
    font-size: 1.4rem;
    text-align: center;
    opacity: .5 !important;
    margin-top: 5rem;
    line-height: 1.9; }
  @media (max-width: 876px) {
    .install {
      padding: 7rem 0 10rem; } }

.team {
  grid-column: center-start / center-end;
  margin-top: 14rem; }
  .team__heading {
    font-size: 2rem;
    color: #D9083C;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 3.7rem; }
    .team__heading::before {
      content: "05";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -4.5rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .team__heading::before {
          left: 0;
          top: 0;
          right: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .team__heading {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0; } }
  .team .text2 {
    font-size: 3.5rem;
    flex: 0 0 50%;
    margin-top: -11rem;
    font-weight: bold;
    display: flex;
    column-gap: 200rem; }
    @media (max-width: 876px) {
      .team .text2 {
        margin-top: 8rem; } }

.onemes {
  text-align: center;
  margin: 4rem 0;
  color: white; }
  .onemes__smallhead {
    color: white;
    font-size: 1.5rem; }
  .onemes__headsec {
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  .onemes__sub {
    font-size: 1.1rem;
    margin: 0 5rem; }
  .onemes__members {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4rem; }
    @media (max-width: 1100px) {
      .onemes__members {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
    @media (max-width: 876px) {
      .onemes__members {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); } }
  .onemes__member {
    margin: 0 2em;
    border-radius: 1.1rem;
    border-bottom: 1px solid #D9083C;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    transition: all .5s;
    box-shadow: 2px 2px 4px black;
    position: relative;
    overflow: hidden; }
    @media (max-width: 876px) {
      .onemes__member {
        width: 70%;
        margin: 0 auto; } }
    .onemes__member--photo {
      width: 100%;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem; }
      @media (max-width: 876px) {
        .onemes__member--photo {
          width: 50%; } }
    .onemes__member--deatils {
      padding: 0 3rem 3rem 3rem; }
      @media (max-width: 876px) {
        .onemes__member--deatils {
          padding-bottom: 3rem; } }
    .onemes__member--name {
      font-size: 2rem;
      text-align: left;
      margin-bottom: 1rem; }
      @media (max-width: 876px) {
        .onemes__member--name {
          font-size: 3rem;
          text-align: center; } }
      @media (max-width: 550px) {
        .onemes__member--name {
          font-size: 2rem; } }
    .onemes__member--quote {
      font-size: 1.5rem;
      text-align: left;
      opacity: 80%; }
      @media (max-width: 876px) {
        .onemes__member--quote {
          font-size: 2rem;
          text-align: center; } }
      @media (max-width: 550px) {
        .onemes__member--quote {
          font-size: 1.5rem; } }
    .onemes__member:hover {
      background-color: #D9083C; }
      .onemes__member:hover .onemes__member--name {
        color: white; }
      .onemes__member:hover .onemes__member--quote {
        color: white; }

.social-group {
  display: flex;
  position: absolute;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  opacity: 0;
  transition: all .6s; }
  .social-group .social {
    width: 2.5rem; }
  .social-group .facebook {
    width: 1.5rem;
    transform: translateX(-7rem);
    transition: all 1s; }
  .social-group .instagram {
    transform: translateX(-6rem);
    transition: all .7s; }
  .social-group .twitter {
    transform: translateX(-9rem);
    transition: all .5s; }

.onemes__member:hover .social-group {
  opacity: 1;
  transform: translateX(0); }

.onemes__member:hover .facebook {
  width: 1.5rem;
  transform: translateX(0); }

.onemes__member:hover .instagram {
  transform: translateX(0); }

.onemes__member:hover .twitter {
  transform: translateX(0); }

.tabs1 {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }

.tabs1 [class^="tab"] label,
.tabs1 [class*=" tab"] label {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }

.tabs1 [class^="tab"] [type="radio"],
.tabs1 [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs1 [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs1 [class*=" tab"] [type="radio"]:hover,
.tabs1 [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid #D9083C; }

.tabs1 [class^="tab"] [type="radio"]:checked,
.tabs1 [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #D9083C; }

.tabs1 [class^="tab"] [type="radio"]:checked + div,
.tabs1 [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }

.tabs1 [class^="tab"] [type="radio"] + div,
.tabs1 [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs1 .tab-21 {
  width: 50%;
  margin-top: 5rem; }

.tabs1 .tab-21 [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }

.tabs1 .tab-21 [type="radio"]:checked + div {
  margin-left: 0; }

.tabs1 .tab-21:last-child [type="radio"] + div {
  margin-left: 100%; }

.tabs1 .tab-21:last-child [type="radio"]:checked + div {
  margin-left: -100%; }

.advertisement {
  grid-column: full-start / full-end;
  position: relative; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  z-index: -99; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.footer {
  grid-column: full-start / full-end;
  background-color: #D9083C;
  padding: 5rem 16rem;
  text-align: center; }
  .footer__get-in-touch {
    color: #14171b;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600; }
  .footer__sub {
    font-size: 3rem;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem; }
    .footer__sub .mobile {
      display: none; }
    @media (max-width: 876px) {
      .footer__sub span {
        display: none; }
      .footer__sub .mobile {
        display: block; } }
    @media (max-width: 550px) {
      .footer__sub {
        font-size: 1.5rem;
        width: 100%; } }
  .footer__email {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all .6s; }
    .footer__email:hover {
      color: #14171b; }
    @media (max-width: 1100px) {
      .footer__email {
        font-size: 3rem; } }
    @media (max-width: 876px) {
      .footer__email {
        margin-bottom: 7rem;
        text-align: center; } }
    @media (max-width: 550px) {
      .footer__email {
        font-size: 2.2rem; } }
  .footer__flexbox {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start; }
    .footer__flexbox .heading9 {
      color: #14171b;
      font-size: 2rem;
      letter-spacing: 3px;
      font-weight: 600; }
    @media (max-width: 1100px) {
      .footer__flexbox {
        justify-content: center; } }
  .footer .b {
    margin-left: -15rem; }
    @media (max-width: 1100px) {
      .footer .b {
        margin-left: 0; } }
    @media (max-width: 876px) {
      .footer .b {
        text-align: center; } }
  .footer__add {
    font-size: 2.5rem;
    width: 70%; }
  .footer .contact {
    font-size: 3rem; }
  .footer li {
    font-size: 2.5rem; }
  .footer__btn {
    padding: 2rem 8rem;
    background-color: #fff;
    color: #14171b;
    border: none;
    letter-spacing: 6px;
    border-radius: 1rem;
    position: relative;
    transition: all .3s;
    margin-top: 5rem;
    margin-bottom: 3rem; }
    .footer__btn::before {
      position: absolute;
      content: "";
      width: 8rem;
      height: .1rem;
      background-color: #14171b;
      top: -4rem;
      left: 0; }
    .footer__btn:hover {
      background-color: black;
      color: white; }
    .footer__btn:focus {
      outline: none; }
  .footer__innerflex {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    column-gap: 2rem; }
    @media (max-width: 1100px) {
      .footer__innerflex {
        justify-content: center; } }
  @media (max-width: 1100px) {
    .footer .z {
      display: none; } }
  @media (max-width: 876px) {
    .footer .q {
      display: none; } }
  @media (max-width: 876px) {
    .footer {
      padding: 5rem 0; } }

.floating-btn {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  right: 0;
  width: 5%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: #D9083C;
  border-radius: 50px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .floating-btn span {
    display: none; }
  .floating-btn:hover {
    width: 20%; }
    .floating-btn:hover span {
      display: block;
      font-size: 1.5rem; }

.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #D9083C;
  z-index: 10000000; }
  .preloader::before {
    content: "Loading";
    position: absolute;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1); }
  .preloader__counter {
    position: relative;
    color: white;
    font-size: 9rem;
    font-weight: bold;
    z-index: 1; }
    .preloader__counter::after {
      content: "%";
      font-size: 7rem; }
  .preloader .hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none; }

.preloader.active {
  transform: translateY(-100vh);
  transition: ease-in-out 2s; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 23, 27, 0.95);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    width: 190rem;
    height: 250rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, 90%) scale(0.25);
    transition: all .5s .2s;
    font-size: 6rem;
    color: black; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.25); }
  .popup__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    border-bottom: 1px solid #D9083C;
    color: #14171b;
    font-size: 6rem; }
    @media (max-width: 550px) {
      .popup__head {
        padding: 4rem 13rem; } }
  .popup .fa-times {
    color: #D9083C;
    font-size: 10rem; }
  .popup__heading {
    font-size: 8rem; }
  .popup__container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    padding: 13rem;
    row-gap: 4rem;
    color: #14171b;
    transition: all .1s ease-in-out;
    position: relative; }
  .popup .new {
    display: flex;
    align-items: center; }
    .popup .new:after {
      content: "Latest";
      margin-left: 7rem;
      background-color: #D9083C;
      color: #fff;
      padding: 2rem 4rem;
      border-radius: 3rem;
      font-weight: bold;
      font-size: 4rem;
      display: inline-block;
      letter-spacing: 5px;
      animation: scale 3s infinite; }
  .popup__left {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    font-weight: bold; }
  .popup__download, .popup__links {
    padding: 1rem 11rem; }
  .popup__download-heading {
    font-size: 7rem; }
  .popup__flex {
    display: flex;
    margin-top: 5rem;
    column-gap: 4rem; }
  .popup .fa-times {
    color: #14171b;
    transition: all .6s; }
    .popup .fa-times:hover {
      transform: rotateZ(360);
      color: #D9083C; }
  .popup__d {
    background-color: #D9083C;
    color: white;
    border: 1px solid black;
    font-size: 5rem;
    padding: 3rem 10rem;
    border-radius: 3rem;
    transition: all .6s; }
    .popup__d--new:hover {
      background-color: white;
      border: 1px solid black;
      color: #D9083C; }
    .popup__d--old {
      background-color: black; }
      .popup__d--old:hover {
        background-color: white;
        border: 1px solid black;
        color: black; }
  .popup__links-heading {
    font-size: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .popup__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem; }
  .popup__link {
    flex: 0 0 30%;
    text-align: center;
    background-color: #D9083C;
    color: white;
    font-size: 5rem;
    border: 1px solid white;
    padding: 3rem 10rem;
    border-radius: 3rem;
    transition: all .6s;
    font-weight: bold; }
    .popup__link:hover {
      background-color: #fff !important;
      border: 1px solid #D9083C;
      color: #D9083C !important; }
    .popup__link--join {
      flex: 1; }
  .popup__changelog {
    position: absolute;
    left: 3%;
    top: 10%;
    transform: translate(-50%, -50%);
    transform: scale(0);
    transition: all .2s;
    margin-left: 6rem; }
    .popup__changelog h2 {
      font-weight: normal; }
    .popup__changelog ul {
      display: grid;
      grid-template-columns: 7% 93%;
      row-gap: .7rem;
      width: 90%; }
    .popup__changelog li {
      margin-bottom: 1rem; }
    @media (max-width: 550px) {
      .popup__changelog {
        padding: 0rem 8rem;
        margin-left: 0rem;
        margin-right: 0rem; } }
  .popup__fixes {
    position: absolute;
    left: 3%;
    top: 12%;
    transform: translate(-50%, -50%);
    transform: scale(0);
    transition: all .2s;
    margin-left: 6rem; }
    .popup__fixes h2 {
      font-weight: normal; }
    .popup__fixes ul {
      display: grid;
      grid-template-columns: 7% 93%;
      row-gap: 3rem;
      width: 90%; }
    .popup__fixes li {
      margin-bottom: 1rem; }
      .popup__fixes li span {
        color: #D9083C; }
    @media (max-width: 550px) {
      .popup__fixes {
        padding: 4rem 8rem;
        margin-left: 0rem;
        margin-right: 0rem; } }

@keyframes scale {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0); } }

.motab-navigation {
  display: none; }
  @media (max-width: 1100px) {
    .motab-navigation {
      position: fixed;
      z-index: 1000;
      display: block; }
      .motab-navigation__checkbox {
        display: none; }
      .motab-navigation__button {
        background-color: white;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        right: 7rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer; }
        .motab-navigation__button:focus {
          outline: none; } }
    @media (max-width: 1100px) and (max-width: 690px) {
      .motab-navigation__button {
        right: 2.1rem; } }
  @media (max-width: 1100px) {
      .motab-navigation__background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        right: 7.5rem;
        background-color: #14171b;
        z-index: 1000;
        transition: all .6s ease-in-out; } }
    @media (max-width: 1100px) and (max-width: 690px) {
      .motab-navigation__background {
        right: 2.5rem; } }
  @media (max-width: 1100px) {
      .motab-navigation__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .6s ease-in-out; }
      .motab-navigation__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      .motab-navigation__link:link, .motab-navigation__link:visited {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        padding: 1rem 2rem;
        display: inline-block;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 230%;
        transition: all .4s; }
      .motab-navigation__link:hover {
        background-position: 100%;
        color: #D9083C;
        transform: translateX(1rem); }
      .motab-navigation__checkbox:checked ~ .motab-navigation__background {
        transform: scale(110); }
      .motab-navigation__checkbox:checked ~ .motab-navigation__nav {
        opacity: 1;
        width: 100%; }
      .motab-navigation__icon {
        position: relative;
        margin-top: 2.3rem; }
        .motab-navigation__icon, .motab-navigation__icon::before, .motab-navigation__icon::after {
          width: 3rem;
          height: .3rem;
          background: #D9083C;
          display: inline-block; }
        .motab-navigation__icon::before, .motab-navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .motab-navigation__icon::before {
          top: -.8rem; }
        .motab-navigation__icon::after {
          top: .8rem; }
      .motab-navigation__button:hover .motab-navigation__icon::before {
        top: -1rem; }
      .motab-navigation__button:hover .motab-navigation__icon::after {
        top: 1rem; }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon {
        background-color: transparent; }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::before {
        top: 0;
        transform: rotate(45deg); }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::after {
        top: 0;
        transform: rotate(-45deg); } }
