////////////////////////////////////////
// GOOGLE "MONTSERRAT" FONT

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");


////////////////////////////////////////
// GLOBAL RESET

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:active,
*:focus {
    outline: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include largest {
        font-size: 60%;
    }

    @include smallest {
        font-size: 55%;
    }

    @include smallest-v3 {
        font-size: 45%;
    }

}

body {
    font-family: "montserrat",sans-serif;
    color: color(white);
    line-height: 1.6;
    background-color: color(background);
}

a {
    text-decoration: none;
    color: color(white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

////////////////////////////////////////
// 8-COLUMN GRID LAYOUT

.container {
    display: grid;
    grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content 100vh min-content;
    grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    //grid-template-rows: min-content 87vh 40vw min-content repeat(2,40vw) repeat(2, min-content);
   // grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];

   @include small {
    grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content min-content min-content min-content min-content;
   }

   @include smallest {
    grid-template-columns: [full-start] minmax(3rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem,1fr) [full-end];
    }

}