////////////////////////////////////////
// GLOBAL BUTTON STYLING

.btn {
    background-color: color(secondary);
    outline: none;
    border-color: transparent;
    border-radius: .8rem;
    font-size: 1.3rem;
    color: color(white);
    font-weight: bold;
    cursor: pointer;
    padding: 1.5rem 3.5rem;
}

////////////////////////////////////////
// GLOBAL PARAGRAPH STYLING

.text {
    font-size: 1.6rem;
    line-height: 1.9;
    opacity: .6;
}

////////////////////////////////////////
// EXTRA CLASSES FOR MARGIN BOTTOM

.mb_sm {
    margin-bottom: 2rem;
}
.mb_sm--2 {
    margin-bottom: .7rem;
}
.mb_md {
    margin-bottom: 3rem;
}
.mb_lr {
    margin-bottom: 4rem;
}
.mb_hg {
    margin-bottom: 5rem;
}
.mb_hg--2 {
    margin-bottom: 14rem;
}