////////////////////////////////////////
// VARIABLES

$colors: (
    primary: #D9083C,
    secondary: #FB8F1D,
    light-white: #fbfbfb,
    white: #fff,
    light-grey: #72777e,
    background: #14171b
);

////////////////////////////////////////
// VARIBLES FOR VIEW PORT SIZE
// ALL THE POSSIBLE BREAKPOINT FOR RESPONSIVE LAYOUT

$bp-largest1: 1266px;  // BIG DESKTOP
$bp-largest: 1200px;   // STANDARD DESKTOP
$bp-large: 1100px;     // BIG TABLET
$bp-medium: 1033px;    // STANDARD TABLET
$bp-small: 876px;      // MOBILE
$bp-smallest: 690px;   // SMALL SIZE OR OLDER PHONE
$bp-smallest-v2: 550px;    // SMALL SIZE OR OLDER PHONE
$bp-smallest-v3: 404px;     // SMALL SIZE OR OLDER PHONE