////////////////////////////////////////
// MAIN SCSS FILE THAT CONTAIN ALL THE LAYOUTSS, BASE, TYPOGRAPHY ETC....

@import "./variables";
@import "./functions";
@import "./mixins";

@import "./base";
@import "./typography";
@import "./layoutss/header";
@import "./layoutss/hero";
@import "./layoutss/port";
@import "./layoutss/whyPort";
@import "./layoutss/download";
@import "./layoutss/steps";
@import "./layoutss/team";
@import "./layoutss/advertisement";
@import "./layoutss/footer";


////////////////////////////////////////
// FLOATING BUTTON

.floating-btn {
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;
    right: 0;
    width: 5%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color:color(primary);
    border-radius: 50px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
//transition: all .1s ease-in-out;

    span {
        display: none;
    }

    &:hover {
        width: 20%;

        span {
            display: block;
            font-size: 1.5rem;
        }
    }

}

////////////////////////////////////////
// PRELOADER

.preloader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: color(primary);
    z-index: 10000000;

    &::before {
        content: "Loading";
        position: absolute;
        font-size: 9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(255,255,255,.1);

    }

    &__counter {
        position: relative;
        color: white;
        font-size: 9rem;
        font-weight: bold;
        z-index: 1;

        &::after {
            content: "%";
            font-size: 7rem;
        }
        
    }

    .hide {
        opacity: 0;
        transition: 1s;
        pointer-events: none;
    }
}

.preloader.active {
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    //transition-delay: 1s;
}


////////////////////////////////////////
// DOWNLOAD SECTION POPUP

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(color(background), .95);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        position: absolute;
        width: 190rem;
        height: 250rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        box-shadow: 0 2rem 4rem rgba(white, .2);
        border-radius: 3px;
        opacity: 0;
        transform: translate(-50%, 90%) scale(.25);
        transition: all .5s .2s;

        font-size: 6rem;
        color: black;
    }
    
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(.25);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 6rem;
        border-bottom: 1px solid color(primary);
        color: color(background);
        font-size: 6rem;


        @include smallest-v2 {
            padding: 4rem 13rem ;
        }
    }

    .fa-times {
        color: color(primary);
        font-size: 10rem;
    }

    &__heading {
        font-size: 8rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        justify-content: center;
        padding: 13rem;
        row-gap: 4rem;
        color: color(background);
        transition: all .1s ease-in-out;
        position: relative;
    }

    .new {
        display: flex;
        align-items: center;
        &:after {
            content: "Latest";
            margin-left: 7rem;
            background-color: color(primary);
            color: color(white);
            padding: 2rem 4rem;
            border-radius: 3rem;
            font-weight: bold;
            font-size: 4rem;
            display: inline-block;
            letter-spacing: 5px;
            animation: scale 3s infinite;
        }
    }

    &__left {
        display: grid;
        grid-template-columns: 15% 85%;
        align-items: center;
        font-weight: bold;
    }

    &__download,
    &__links {
        padding: 1rem 11rem;
    }

    &__download-heading {
        font-size: 7rem;
    }

    &__flex {
        display: flex;
        margin-top: 5rem;
        column-gap: 4rem;
    }

    .fa-times {
        color: color(background);
        transition: all .6s;

        &:hover {
            transform: rotateZ(360);
            color: color(primary);
        }
    }

    &__d {
        background-color: color(primary);
        color: white;
        border: 1px solid black;
        font-size: 5rem;
        padding: 3rem 10rem;
        border-radius: 3rem;
        transition: all .6s;

        &--new {
            &:hover {
                background-color: white;
                border: 1px solid black;
                color: color(primary);
               
            }
        }
        

        &--old {
            background-color: black;
            &:hover {
                background-color: white;
                border: 1px solid black;
                color: black;
               
            }
            
        }
    }

    &__links-heading {
        font-size: 7rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //column-gap: 5.3rem;
        row-gap: 3rem;
    }

    &__link {
        flex: 0 0 30%;
        text-align: center;
        background-color: color(primary);
        color: white;
        font-size: 5rem;
        border: 1px solid white;
        padding: 3rem 10rem;
        border-radius: 3rem;
        transition: all .6s;
        font-weight: bold;

        &:hover {
            background-color: color(white) !important;
            border: 1px solid color(primary);
            color: color(primary) !important;
        } 

        &--join {
            flex: 1;
        }
    }

    &__changelog {
        position: absolute;
        left: 3%;
        top: 10%;
        transform: translate(-50%,-50%);
        transform: scale(0);
        transition: all .2s;
        margin-left: 6rem;

        h2 {
            font-weight: normal;
        }

        ul {
            display: grid;
            grid-template-columns: 7% 93%;
            row-gap: .7rem;
            width: 90%;
        }

        li {
            margin-bottom: 1rem;
        }

        @include smallest-v2 {
            padding: 0rem 8rem ;
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

    &__fixes {
        position: absolute;
        left: 3%;
        top: 12%;
        transform: translate(-50%,-50%);
        transform: scale(0);
        transition: all .2s;
        margin-left: 6rem;

        h2 {
            font-weight: normal;
        }

        ul {
            display: grid;
            grid-template-columns: 7% 93%;
            row-gap: 3rem;
            width: 90%;
        }

        li {
            margin-bottom: 1rem;

            span {
                color: color(primary);
            }
        }

        @include smallest-v2 {
            padding: 4rem 8rem ;
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

}

////////////////////////////////////////
// INFINITE SCALING ANIMATION

@keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}


////////////////////////////////////////
// MOBILE AND TABLET NAVIGATION

.motab-navigation {

    display: none;
    @include large {
        position: fixed;
        z-index: 1000;
        display: block;
       
        &__checkbox {
            display: none;
        }
    
        &__button {
            background-color: white;
            height:5rem;
            width: 5rem;
            border-radius: 50%;
            position: fixed;
            top: 2rem;
            right: 7rem;
            z-index: 2000;
            text-align: center;
            cursor: pointer;
    
            &:focus {
                outline: none;
            }

            @include smallest {
                right: 2.1rem;
            }

            @include smallest-v2 {
               // display: none;
            }
        }
    
        &__background {
            height:3rem;
            width: 3rem;
            border-radius: 50%;
            position: fixed;
            top: 2rem;
            right: 7.5rem;
            background-color: color(background);
            z-index: 1000;
            transition: all .6s ease-in-out;
            //transform: scale(80);

            @include smallest {
                right: 2.5rem;
            }

            @include smallest-v2 {
                //display: none;
            }
        }
    
        &__nav {
            height: 100vh;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1500;
            opacity: 0;
            transition: all .6s ease-in-out;
        }
    
        &__list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            
        }
    
        &__item {
    
        }
    
        &__link {
            &:link,
            &:visited {
                font-size: 3rem;
                font-weight: bold;
                color: white;
                padding: 1rem 2rem;
                display: inline-block;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
                background-size: 230%;
                transition: all .4s;
            } 
    
            
    
            &:hover {
                background-position: 100%;
                color: color(primary);
                transform: translateX(1rem);
            }
        }
    
        &__checkbox:checked ~ &__background {
            transform: scale(110);
        }
    
        &__checkbox:checked ~ &__nav {
            opacity: 1;
            width: 100%;
        }
    
        &__icon {
            position: relative;
            margin-top: 2.3rem;
    
            &,
            &::before,
            &::after {
                width: 3rem;
                height: .3rem;
                background: color(primary);
                display: inline-block;
            }
    
            &::before, 
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before {
                top: -.8rem;
            }
    
            &::after {
                top: .8rem;
            }
        }
    
        &__button:hover &__icon::before {
            top: -1rem;
        }
    
        &__button:hover &__icon::after {
            top: 1rem;
        } 
    
        &__checkbox:checked + &__button &__icon {
            background-color: transparent;
    
        }
    
        &__checkbox:checked + &__button &__icon::before {
            top: 0;
            transform: rotate(45deg);
    
          
        }
    
        &__checkbox:checked + &__button &__icon::after {
            top: 0;
            transform: rotate(-45deg);
    
        }
    }

   

}

