////////////////////////////////////////
// DOWNLOAD SECTION

.download {
    grid-column: center-start / center-end;
    padding: 14rem 0;
    padding-bottom: 10rem;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include small {
          display: block;

          text-align: center;
        }
    }

    &__heading {
        font-size: 2rem;
        color: color(primary);
        font-weight: 300;
        position: relative;
        margin-bottom: 7rem;
        margin-left: 3.5rem;

        &::before {
            content: "03";
            color: color(light-grey);
            position: absolute;
            top: -13rem;
            left: -4.5rem;
            font-size: 15rem;
            font-weight: bold;
            z-index: -1;
            opacity: .1;

            @include small {
              left: 0;
              top: 0;
              right: 0;
              left: 50%;
              transform: translateX(-50%);
              top: -12rem;
          }
        }

        @include small {
          text-align: center;
          margin-bottom: 0;
          margin-left: 0;
        }

      //   @include largest1 {
      //     margin-left: 3.5rem;
      // }
    }

    .text2 {
        font-size: 3.5rem;
        flex: 0 0 50%;
        margin-top: -11rem;
        font-weight: bold;

        @include medium {
          flex: 0 0 54%;
        }

        @include small {
          margin-top: 8rem;
        }

      
    }

    @include small {
      padding: 7rem 0 10rem;
    }
    
}

////////////////////////////////////////
// DOWNLOAD SECTION DIFFRENT PORT CARDS

.cards {
    display: grid !important ;
    margin-top: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    column-gap: 4rem;

    @include large {
      grid-template-columns: 1fr;
      row-gap: 8rem;
      column-gap: 0;
    }

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        &__photo {
            width: 50%;
        }

        &__heading {
            font-size: 2rem;
        }

        &__codename {
            font-size: 1.5rem;

            span {
                color: color(primary);
                margin-left: 1rem;
            }
        }

        &__version {
            font-size: 1.5rem;

            span {
                margin-left: 1rem;
            }
        }

        .btn {
            width: 100%;
            font-size: 1rem;
            background-color: color(primary);
            letter-spacing: 2px;
            margin-top: 1rem;
            position: relative;
            border-radius: 1rem;
            transition: all .1s;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                right: 0rem;
                height: .1rem;
                background-color: color(primary);
                top: 0;
                border-bottom-left-radius: 1rem; 
                border-bottom-right-radius: 1rem; 
                transform: scaleX(0);
                transform-origin: left;
                transition: all .6s;
            }

            &:hover::after {
                transform: scaleX(1);
          
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                right: 0rem;
                height: .1rem;
                background-color: color(primary);
                bottom: 0;
                border-bottom-left-radius: 1rem; 
                border-bottom-right-radius: 1rem; 
                transform: scaleX(0);
                transform-origin: right;
                transition: all .6s;
            }

            &:hover::before {
                transform: scaleX(1);
          
            }

            &:hover {
                background-color: color(background);
            }

            &:focus {
                outline: none;
            }
        }

        
      @include large {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4rem;


        &__photo {
          width: 25rem;

          @include smallest-v2 {
            width: 50%;
          }
        }

        &__heading {
          font-size: 3rem;
          @include smallest-v2 {
            font-size: 2rem;
          }
        }

        &__codename {
          font-size: 2rem;

          span {
              color: color(primary);
              margin-left: 1.5rem;
          }

          @include smallest-v2 {
            font-size: 1.5rem;
          }
        }

        &__version {
            font-size: 2rem;

          span {
              margin-left: 1.5rem;
          }

          
          @include smallest-v2 {
            font-size: 1.5rem;
          }
      }

      .btn {
    
          font-size: 1.5rem;
          width: 20rem;
          margin-top: 2rem;

          @include smallest-v2 {
            width: 100%;
            font-size: 1rem;
          }
          
      }



      }
    }
}

////////////////////////////////////////
// DOWNLOAD SECTION TAB VIEW

  .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
      color: white;
      cursor: pointer;
      display: block;
      font-size: 2.1em;
      font-weight: 300;
      line-height: 1em;
      padding: 2rem 0;
      @include small {
        span {
          display: none;
        }
      }
      text-align: center; }
    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
      border-bottom: 1px solid rgba(239, 237, 239, 0.5);
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
      .tabs [class*=" tab"] [type="radio"]:hover,
      .tabs [class*=" tab"] [type="radio"]:focus {
        border-bottom: 3px solid color(primary);
        }
      .tabs [class^="tab"] [type="radio"]:checked,
      .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 3px solid color(primary); }
      .tabs [class^="tab"] [type="radio"]:checked + div,
      .tabs [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; }
      .tabs [class^="tab"] [type="radio"] + div,
      .tabs [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .tabs .tab-2 {
      width: 50%;
        margin-top: 5rem; }
      .tabs .tab-2 [type="radio"] + div {
        width: 200%;
        margin-left: 200%; }
      .tabs .tab-2 [type="radio"]:checked + div {
        margin-left: 0; }
      .tabs .tab-2:last-child [type="radio"] + div {
        margin-left: 100%; }
      .tabs .tab-2:last-child [type="radio"]:checked + div {
        margin-left: -100%; }

////////////////////////////////////////
// DOWNLOAD SECTION WARNING

.note {
  font-size: 1.2rem;
  text-align: center;
  opacity: .5 !important;
  margin-top: 5rem;
  line-height: 1.9;
}