////////////////////////////////////////
// HEADER

.header {
    grid-column: full-start / full-end;
    position: sticky;
    top: 0;
    z-index: 900;
   // padding: 2.5rem 8.7rem;
    display: flex;
    align-items: center;

    @include large {
        position: static;
    }
}

////////////////////////////////////////
// FOR HIDING NAVIGATINO ITEM WHEN CLICK IN MOBILE AND TABLET

.hide:not(:hover) .navigation__items {
    visibility: hidden;
}

////////////////////////////////////////
// FOR CHANGE YOUR NAVIGATION STYLE ON SCROLL

.nav-scrolled {
    &:hover {
        background-color: rgba(0, 0, 0, .7);
        transition: all 1s;
    }

    // @include large {
    //     background-color: rgba(0, 0, 0, .7);
    //     transition: all 1s;
    // }
   
}

////////////////////////////////////////
// LOGO

.logo {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 7rem;
    margin-right: 7rem;
    transition: all .6s;

    &--red {
        color: color(primary);
        transition: all .6s;
    }

    &:hover {
        color: color(primary);

        .logo--red {
            color: color(white);
        }
    }

    @include smallest {      
        margin-left: 2.1rem;
    }


}

////////////////////////////////////////
// NAVIGATION

.navigation {
    align-self: stretch;

    display: contents;
   

    &__items {
        display: flex;
        //align-items: center;
        align-self: stretch;
    }

    &__item {
        margin-right: 3rem;
        font-size: 1.1rem;
        letter-spacing: 4px;
        align-self: stretch;
        
        display: flex;
            
    }

    &__link {
        color: color(light-grey);
        transition: all .4s;
        align-self: stretch;
        display: flex;
        align-items: center;
        position: relative;
        transition: all .2s;

         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: .2rem;
            background-color: color(primary);
            bottom: 2rem;
            transform: scale(0);
            transform-origin: left;
            transition: all .8s;
        }

        &:hover::after,
        &:hover {
            color: color(primary);
            transform: scale(1);
        } 
    }  

    @include large {
        display: none;
    }
}

////////////////////////////////////////
// CALL TO ACTION BUTTON

.cta {
   margin-left: auto;
   margin-right: 7rem;
   border: none;
   background-color: color(primary);
   padding: 1.5rem 3.5rem;
   color: color(white);
   font: inherit;
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: .5rem;
   border-radius: .5rem;
   display: flex;
   align-items: center;
   position: relative;
    transition: all .6s;


   &::before {
       content: "";
       display: inline-block;
       height: 2rem;
       width: 2rem;
       margin-right: 2rem;
       background-color: color(white);

       // For not supported brower
       -webkit-mask-image: url("../../img/chat.svg");
       -webkit-mask-size: cover;

       mask-image: url("../../img/chat.svg");
       mask-size: cover;
   }

   &:hover {
       background-color: black;
   }
   
   &:focus {
       outline: none;
   }

   @include large {
    display: none;
    }
}