////////////////////////////////////////
// HERO SECTION

.hero {
    &__content {
        grid-column: col-start 2 / col-end 5;
        align-self: flex-end;
        padding: 3rem 0;
        position: relative;
    }

    &__heading {
        color: color(primary);
        font-size: 20rem;
        margin-left: -1rem;
        line-height: 1;
        position: relative;

        &::before {
            display: block;
            content: "";
            height: 10rem;
            width: 20rem;
            background-image: url("../../img/dots.svg");
            -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
            opacity: .25;
            position: absolute;
            bottom: .14em;
            left: -20rem;

            @include large {
                top: -5rem;
                left: 2rem;
            }
        }

        @include smallest {
            font-size: 13rem;
        }
       
    }

    &__sub {
        color: color(light-white);
        font-size: 2.5rem;
        width: 65%;
        font-weight: 500;
        line-height: 1.9;
        margin-left: 10rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 8rem;
            height: .1rem;
            background-color: #72777e;
            top: 2.5rem;
            left: -9.9rem;
            opacity: .3;
        }

        @include smallest {
            width: 75%;
            font-size: 2rem;
        }

        @include smallest-v3 {
            font-size: 2.6rem;
        }
    }

    &__social {
        display: flex;
        column-gap: 3rem;
        margin-left: 10rem;
    }

    &__social-link {
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }

    &__social-icon {
        font-size: 2rem;
        transition: all .6s;

        &:hover {
            color: color(primary);
        }

        @include smallest {
            font-size: 2.5rem;
        }
    }

    &__img {
        grid-column: col-start 6 / full-end;
        background-image: url("../../img/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: -1;
        margin-top: -9rem;
        margin-left: -28.5rem;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: .36;
        }


        @include largest {
            margin-left: -35.5rem;
        }

        @include medium {
            
            background-position: 30% 70%;
        }

        @include smallest-v2 {
            background-position: 28% 100%;
        }
    }
}
