////////////////////////////////////////
// INSTALLATION STEPS
// STEPS TO INSTALL SECTION

.install {
    grid-column: center-start / center-end;
    padding: 14rem 0;
    padding-bottom: 8rem;

    &__heading {
        font-size: 2rem;
        color: color(primary);
        font-weight: 300;
        position: relative;
        margin-bottom: 7rem;
        margin-left: 1.5rem;

        &::before {
            content: "04";
            color: color(light-grey);
            position: absolute;
            top: -13rem;
            left: -2rem;
            font-size: 15rem;
            font-weight: bold;
            z-index: -1;
            opacity: .1;

            @include small {
              left: 0;
              top: 0;
             
              left: 50%;
              transform: translateX(-50%);
              top: -12rem;
          }
        }

        @include small {
          text-align: center;
          margin-bottom: 10rem;
        }

      //   @include largest1 {
      //     margin-left: 1.5rem;
      // }
    }

    &__steps {
        color: color(white);
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
        grid-gap: 4rem;
      }

      @include small {
        text-align: center;
      }
    
      &__step {
        background-color: color(light_grey);
        border-radius: 1.1rem;
        position: relative;
        padding: 3rem;
        box-shadow: 2px 2px 4px rgba(0,0,0,1);


        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: .1rem;
            top: 0;
            right: 0;
            border-top-left-radius: 1.1rem;
            border-top-right-radius: 1.1rem;
            background-color: color(primary);
            transform: scale(0);
            transform-origin: left;
            transition: all .6s;
        }

        &::after {
            position: absolute;
            content: "";
            width: .1rem;
            height: 100%;
            left: 0;
            top: 0;
            border-top-left-radius: 1.1rem;
            border-top-right-radius: 1.1rem;
            background-color: color(primary);
            transform: scale(0);
            transform-origin: top;
            transition: all .6s;
        }

        &:hover::before {
            transform: scale(1);
        }

        &:hover::after {
            transform: scale(1);
        }

    
        &--head {
          margin-bottom: 3rem;
          display: flex;
          flex-direction: column;
        }
    
        &--head1 {
         font-size: 7rem;
         opacity: 70%;
         font-weight: bold;
         color: color(secondary);

        }
    
        &--head2 {
          font-size: 3rem;
          font-weight: bold;
          position: relative;

          &::before {
              content: "";
              position: absolute;
              width: 4rem;
              height: .4rem;
              background-color: color(primary);
              bottom: -1rem;

              @include small {
                width: 5%;
                left: 50%;
                transform: translateX(-50%);

              }
          }

          @include small {
            margin-bottom: 2rem;
          }
    
         
        }
    
        &--des {
          line-height: 1.9;
          font-size: 2rem;
          opacity: .7;

          @include small {
            margin-bottom: 1.5rem;
          }
        }
      }

      &__note {
        font-size: 1.4rem;
        text-align: center;
        opacity: .5 !important;
        margin-top: 5rem;
        line-height: 1.9;
      }


    @include small {
      padding: 7rem 0 10rem;
    }
}

