////////////////////////////////////////
// TEAM SECTION

.team {
    grid-column: center-start / center-end;
    margin-top: 14rem;

    &__heading {
        font-size: 2rem;
        color: color(primary);
        font-weight: 300;
        position: relative;
        margin-bottom: 7rem;
        margin-left: 3.7rem;

        &::before {
            content: "05";
            color: color(light-grey);
            position: absolute;
            top: -13rem;
            left: -4.5rem;
            font-size: 15rem;
            font-weight: bold;
            z-index: -1;
            opacity: .1;

            @include small {
              left: 0;
              top: 0;
              right: 0;
              left: 50%;
              transform: translateX(-50%);
              top: -12rem;
          }
        }

        @include small {
          text-align: center;
          margin-bottom: 0;
          margin-left: 0;
        }

      //   @include largest1 {
      //     margin-left: 3.7rem;
      // }
    }


    .text2 {
      font-size: 3.5rem;
      flex: 0 0 50%;
      margin-top: -11rem;
      font-weight: bold;

      display: flex;
      column-gap: 200rem;

      @include small {
        margin-top: 8rem;
      }
  }

}

////////////////////////////////////////
// TEAM MEMBER CARDS

.onemes {
    text-align: center;
    margin: 4rem 0;
    color: white;
  
    &__smallhead {
      color: white;
      font-size: 1.5rem;
    }
  
    &__headsec {
      font-size: 2.3rem;
      margin-bottom: 1rem;
    }
  
    &__sub {
      font-size: 1.1rem;
      margin: 0 5rem;
    }
  
    &__members {
      margin: 5rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
      grid-gap: 4rem;

      @include large {
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
      }

      @include small {
        grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));   
      }
    }
  
    &__member {
      background-color: color(light_grey);
      margin: 0 2em;
      border-radius: 1.1rem;
      border-bottom: 1px solid color(primary);
      border-bottom-left-radius: 1.1rem;
      border-bottom-right-radius: 1.1rem;
      transition: all .5s;
      box-shadow: 2px 2px 4px rgba(0,0,0,1);
        position: relative;
        overflow: hidden;
  
     @include small {
       width: 70%;
       margin: 0 auto;
     }
  
      &--photo {
        width: 100%;
        border-top-left-radius: 1.1rem;
        border-top-right-radius: 1.1rem;

        @include small {
          width: 50%;
        }
      }

      // .a {
      //     height: 36.1rem;

      //     @include large {
      //       height: 31.5rem;
      //     }
      // }
  
      &--deatils {
        padding: 0 3rem 3rem 3rem;

        @include small {
          padding-bottom: 3rem;
        }
      }
  
      &--name {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 1rem;

        @include small {
          font-size: 3rem;
          text-align: center;
        }

        @include smallest-v2 {
          font-size: 2rem;
        }
      }
  
      &--quote {
        font-size: 1.5rem;
        text-align: left;
        opacity: 80%;

        @include small {
          font-size: 2rem;
          text-align: center;
        }

        @include smallest-v2 {
          font-size: 1.5rem;
        }
      }
  
      &:hover {
        background-color: color(primary);
  
        .onemes__member--name {
         color: white;
        }
    
        .onemes__member--quote {
          color: white;
        }
      }
    }
}

////////////////////////////////////////
// TEAM MEMBER SOCIAL MEDIA

.social-group {
    display: flex;
    position: absolute;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    opacity: 0;
    transition: all .6s;
   
    .social {
        width: 2.5rem;
    }

    .facebook {
        width: 1.5rem;
        transform: translateX(-7rem);
        transition: all 1s;
    }
    .instagram {
        transform: translateX(-6rem);
        transition: all .7s;
    }
    .twitter {
        transform: translateX(-9rem);
        transition: all .5s ;
    }

  
}


.onemes__member {
    &:hover {
        .social-group {
            opacity: 1;
            transform: translateX(0);
        }

        .facebook {
            width: 1.5rem;
            transform: translateX(0);
        }

        .instagram {
            transform: translateX(0);
        }
        .twitter {
            transform: translateX(0);

        }
    }
}


////////////////////////////////////////
// TEAM SECTION TAB VIEW


.tabs1 {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
    .tabs1 [class^="tab"] label,
    .tabs1 [class*=" tab"] label {
      color: white;
      cursor: pointer;
      display: block;
      font-size: 2.1em;
      font-weight: 300;
      line-height: 1em;
      padding: 2rem 0;
      text-align: center; }
    .tabs1 [class^="tab"] [type="radio"],
    .tabs1 [class*=" tab"] [type="radio"] {
      border-bottom: 1px solid rgba(239, 237, 239, 0.5);
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .tabs1 [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
      .tabs1 [class*=" tab"] [type="radio"]:hover,
      .tabs1 [class*=" tab"] [type="radio"]:focus {
        border-bottom: 3px solid color(primary);
        }
      .tabs1 [class^="tab"] [type="radio"]:checked,
      .tabs1 [class*=" tab"] [type="radio"]:checked {
        border-bottom: 3px solid color(primary); }
      .tabs1 [class^="tab"] [type="radio"]:checked + div,
      .tabs1 [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; }
      .tabs1 [class^="tab"] [type="radio"] + div,
      .tabs1 [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .tabs1 .tab-21 {
      width: 50%;
        margin-top: 5rem; }
      .tabs1 .tab-21 [type="radio"] + div {
        width: 200%;
        margin-left: 200%; }
      .tabs1 .tab-21 [type="radio"]:checked + div {
        margin-left: 0; }
      .tabs1 .tab-21:last-child [type="radio"] + div {
        margin-left: 100%; }
      .tabs1 .tab-21:last-child [type="radio"]:checked + div {
        margin-left: -100%; }
