////////////////////////////////////////
// WHAT IS THE DIFFERENCE BETWEEN CUSTOM ROM AND PORT ROM
// DIFFERENCE SECTION

.difference {
    &__illu {
        grid-column: center-start / col-end 2;
        display: grid;
        
        .illu1 {
            width: 100%;
            margin-top: 6rem;
            align-self: center;

            @include largest {
                width: 90%;
            }
        }

        @include medium {
            display: none;
        }
    }

    &__content {
        grid-column: col-start 3 / center-end;
        padding: 11rem 0;
        padding-bottom: 2rem;

        @include large {
            padding-bottom: 5rem;
        }

        @include medium {
            grid-column: center-start / center-end;
        }

        .center {
            @include medium {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
                justify-items: space-between;
                column-gap: 10rem;
            }

            @include small {
                display: block;
                text-align: center;
            }
        }

        @include medium {
            padding: 9rem 0;
        }

        @include small {
            padding: 17rem 5rem 5rem;
        }

        @include smallest-v2 {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__heading {
        font-size: 2rem;
        color: color(primary);
        font-weight: 300;
        position: relative;
        margin-bottom: 7rem;
        text-align: right;
        margin-right: 4.5rem;

        &::before {
            content: "02";
            color: color(light-grey);
            position: absolute;
            top: -13rem;
            right: -4rem;
            font-size: 15rem;
            font-weight: bold;
            z-index: -1;
            opacity: .1;

            @include medium {
                left: -4rem;
            }

            @include small {
                left: 0;
                top: 0;
                right: 0;
                left: 50%;
                transform: translateX(-50%);
                top: -12rem;
            }
        }

        @include medium {
            margin-left: 2.5rem;
            text-align: left;
        }

        @include small {
            text-align: center;
            margin-bottom: 10rem;
        }
    }

    &__custom-rom {
        margin-left: 28rem;

        @include medium {
            margin: 0;
        }
    }

    &__port-rom {
        width: 100%;
        position: relative;

        &::after {
            content: "- - - - - - V S - - - - - -";
            position: absolute;
            font-size: 3rem;
            top: -4.2rem;
            right: 47.5rem;
            opacity: .2;
            z-index: 100;
            font-weight: bold;
            
                @include medium {
                    display: none;
                }

                @include small {
                    display: flex;
                    top: 0rem;
                    right: 0rem;
                    font-size: 2rem;
                    margin-top: -3.8rem;
                    margin-right: 10rem;
                }
        }

        @include medium {
            width: auto;
        }
    }
}

////////////////////////////////////////
// HEADING-2

.heading-2 {
    font-size: 4rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 1rem;
        background-color: color(primary);
        z-index: 2;
        bottom: 1.3rem;
        opacity: .5;

    }
}

////////////////////////////////////////
// TEXT-1

.text1 {
    font-size: 2.5em;
    color: white;
}
